@using MudBlazor.Utilities

<h5>Theme Selector</h5>
<MudSlider Label="Theme Darkness" Class="p-2" @bind-Value="ThemeDarkness" TickMarks="true" Step="85" Min="-255" Max="255" />
<div class="d-flex justify-content-between">
    @foreach (var icon in _themeIcons)
    {
        <MudIcon Icon="@icon" Size="Size.Small" Color="Color.Default" />
    }
</div>
@code {
    [Parameter]
    public EventCallback<int> OnThemeDarknessChanged { get; set; }

    [Parameter]
    public int ThemeDarkness { get; set; }

    private readonly string[] _themeIcons = new[] {
        Icons.Material.Filled.Brightness1,
        Icons.Material.Filled.Brightness2,
        Icons.Material.Filled.Brightness3,
        Icons.Material.Filled.Brightness4,
        Icons.Material.Filled.Brightness5,
        Icons.Material.Filled.Brightness6,
        Icons.Material.Filled.Brightness7
    };
}
